*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.displayer-box{
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 45vw;
    height: 45vh;
    padding: 2rem;   
}

.displayer-box h1{
    font-size: 2.5rem;
}

.time{
    display: inline;
    text-align: center;
    border: 5px solid #F8485E;
    border-radius: 5px;
    width: 10rem;
    line-height: 3rem;
    font-size: 1.4rem;
    margin-top: 20px;
}


@media (max-width: 480px) {
    #main-container{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .displayer-box{
        padding: 1rem;
    }
    .time{
        line-height: 2rem;
        font-size: 1.4rem;

    }


